.element__like {
    position: absolute;
    height: 18.13px;
    width: 20.75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    bottom: 29.87px;
    right: 22.24px;
     }
     .element__like:hover{
        opacity: .5;
    }
